<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Career Compass">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script
            src="https://code.jquery.com/jquery-3.1.1.js"
            integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        html , body{
            padding:0;
            margin:0;
            width:100%;
            font-family: Open Sans, Arial, sans-serif;

            background-color: rgb(250,250,250);
            overflow-x: hidden;
        }
        #header{
            background-color: rgb(255,255,255);
            color:black;
            position:fixed;

            top:0;
            left:0;


            z-index:1;
            height:5.7em;
            width:100%;
            box-shadow: 0 0 5px #000000;

            transition: width 0.4s ease, left 0.4s ease;

            /*box-sizing: border-box;*/
            /*backface-visibility: hidden;*/
            /*background-origin: padding-box;*/
        }
        #header #header-left{
            position:relative;
            height:100%;
            width:10%;
            color: grey;
            float:left;
        }
        #header #header-right{
            position:relative;
            height:100%;
            width:calc(90%);
            float:left;
            text-align: center;
            color: #ffee00;
        }
    </style>
</head>
<body>
<div id="header">
    <div id="header-left">

    </div>
    <div id="header-right">
        <h1>Career Compass</h1>
    </div>

</div>
<br/><br/><br/><br/><br/>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-warning btn-lg" style="margin-left: 38%">Login</button>
    </form>

    <hr>




    <div class="container1">

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"></span>
            </h1>

            <p>Sign up with</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a>
        </div>


    </div>


    <p>Need an account? <a href="/signup">Signup</a></p>
    <p>Or go <a href="/">home</a>.</p>



</div>
</div>
</body>
</html>
